---
title: Pipe Line Electric, Inc.
---
<div class="pure-u-g">
  <div class="pure-u-1-3">&nbsp;</div>
  <div class="pure-u-1-3">
    <p>Pipe Line Electric, Inc (PLE) has proudly been in business for over 20 years. Founded in 1989, PLE has always been family owned and operated, completing projects all throughout Southern California in the Los Angeles, Orange, and San Diego Counties. We pride ourselves in turning conceptual designs into reality with the most efficient, dedicated, and professional team.</p>

    <p>In 25 years of business, we have completed a wide range of public works including Fire Stations, public schools, and state of the art facilities as well as other commercial works. With these projects, PLE brought a dedication to hard work, professionalism, and an unparalleled commitment to excellence. With every new project, PLE offers over two decades of accomplished experience in the electrical contracting industry.</p>
  </div>
  <div class="pure-u-1-3">&nbsp;</div>
</div>
