---
title: Pipe Line Electric, Inc.
---
<!-- <div class="pure-u-g">
  <div class="pure-u-1 cta">
    <h2>Committment to excellence</h2>
  </div>
</div> -->

<div class="main-content">
  <div class="pure-g project-type">
    <div class="pure-u-2-5">
      <h2>Commercial</h2>
    </div>
    <div class="pure-u-3-5">
      <img  src="http://placehold.it/600x400">
    </div>
  </div>
  <div class="pure-g project-type red">
    <div class="pure-u-3-5">
      <img  src="http://placehold.it/600x400">
    </div>
    <div class="pure-u-2-5">
      <h2>Fire Stations</h2>
    </div>
  </div>
  <div class="pure-g project-type">
    <div class="pure-u-2-5">
      <h2>Education</h2>
    </div>
    <div class="pure-u-3-5">
      <img  src="http://placehold.it/600x400">
    </div>
  </div>
</div>
