---
title: Pipe Line Electric, Inc.
---
<!-- <div class="pure-u-g">
  <div class="pure-u-1 cta">
    <h2>Committment to excellence</h2>
  </div>
</div> -->
<div class="pure-u-g">
  <div class="pure-u-2-3">
    <div class="galleria">
      <%= image_tag 'Commercial/beckman_laser_institute/beckman.JPG', data: {title: 'Beckman Laser Institute'}%>
      <%= image_tag 'Commercial/ceasar_chavez_jenny_oropeza/cesar.JPG', data: {title: 'Cesar Chavez Park, Jenny Oropeza Community Center'}%>
      <%= image_tag 'Commercial/east_anaheim_pd/eanaheim.JPG', data: {title: 'East Anaheim PD'} %>
      <%= image_tag 'Commercial/hb_beach_art/hbart.JPG', data: {title: 'Huntington Beach Art Center'}%>
    </div>
  </div>
</div>


<div class="categories pure-g">
  <div class="pure-u-1-8"></div>
  <div class="pure-u-1-4">
    <a href="commercial.html">
      <div class="category">
        <i class="fa fa-4x fa-building-o"></i>
        Commercial
      </div>
    </a>
  </div>
  <div class="pure-u-1-4">
    <a href="education.html">
      <div class="category">
        <i class="fa fa-4x fa-graduation-cap"></i>
        Education
      </div>
    </a>
  </div>
  <div class="pure-u-1-4">
    <a href="fire-stations.html">
      <div class="category">
        <i class="fa fa-4x fa-fire-extinguisher"></i>
        Fire Stations
      </div>
    </a>
  </div>
</div>
