---
title: Pipe Line Electric, Inc.
---
<div class="main-content">
  <div class="pure-g project-type">
    <div class="pure-u-2-5">
      <a href="/commercial">
        <i class="fa fa-4x fa-building-o" style="color: red;"></i>
        <h2 style="color: red;">Commercial</h2>
      </a>
    </div>
    <div class="pure-u-3-5">
      <a href="/commerical">
        <img src="/images/Commercial/east_anaheim_pd/eanaheim.JPG" width="600px">
      </a>
    </div>
  </div>
  <div class="pure-g project-type red">
    <div class="pure-u-3-5">
      <a href="/fire-stations">
        <img src="/images/Fire-Stations/Anaheim-Fire-Station.JPG" width="600px">
      </a>
    </div>
    <div class="pure-u-2-5">
      <a href="/fire-stations">
        <i class="fa fa-4x fa-fire-extinguisher" style="color: white;"></i>
        <h2 style="color: white;">Fire Stations</h2>
      </a>
    </div>
  </div>
  <div class="pure-g project-type">
    <div class="pure-u-2-5">
      <a href="/education">
        <i class="fa fa-4x fa-graduation-cap" style="color: red;"></i>
        <h2 style="color: red;">Education</h2>
      </a>
    </div>
    <div class="pure-u-3-5">
      <a href="/education">
        <img src="/images/Education/Cornerstone/Cornerstone.JPG" width="600px">
      </a>
    </div>
  </div>
</div>
